.customAccordion {
	& details {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap:1rem;
		grid-template-areas:
		"summary marker - -"
		"section section section section";
		justify-content: center;
		align-items: center;
		& summary {
			display: grid;
			grid-area: summary;
			font-weight: bold;
			grid-template-columns: 1fr 25px;
			align-items: center;
			grid-gap: 1rem;
			  padding: 0.3rem 1rem;
	justify-content: center;
	width: fit-content;
		}
		& summary::-webkit-details-marker {
			/* color: var(--color-link); */
			grid-column:2/2;
			grid-row:1/1;
		}

	}
	details:nth-child(2) {
		display: grid;
		grid-area: section;
	}
}
