.custom-logo {
	height: 3rem;
    bottom: 0.5rem;
    position: fixed;
    left: 0;
    z-index: 14;
    background: rgba(255,255,255,.8);
	padding: .5rem .5rem;
	border-radius: 5rem;
	top: auto;
	max-width: 8rem;
	@media (--content-query) {
		padding: .5rem 2rem;
	height: 3rem;
	top: 0.2em;
	bottom: auto;
	position: fixed;
	left: 1.3em;
	z-index: 14;
	background: transparent;
	border-radius: 0;
	max-width: 12rem;
	}
}
footer .custom-logo {
	left: 0;
	background: transparent;
}
