.site-header {
	& figure {
	display: grid;
}
display: grid;
grid-template-rows: 1fr;
grid-template-areas: "hero";
}
figure.header-image {
	@media (--narrow-menu-query) {
    margin-block-start: -1em;
    margin-block-end: -1em;
    margin-inline-start: -40px;
	margin-inline-end: -40px;
	}
}


.header-image.wave {

	@media (--content-query) {
		clip-path: polygon(100% 0%, 0% 0% , 0% 87.5%, 1% 87.416666666667%, 2% 87.083333333333%, 3% 86.583333333333%, 4% 86%, 5% 85.166666666667%, 6% 84.333333333333%, 7% 83.416666666667%, 8% 82.5%, 9% 81.583333333333%, 10% 80.833333333333%, 11% 80.166666666667%, 12% 79.666666666667%, 13% 79.333333333333%, 14% 79.166666666667%, 15% 79.25%, 16% 79.5%, 17% 80%, 18% 80.583333333333%, 19% 81.333333333333%, 20% 82.25%, 21% 83.166666666667%, 22% 84.083333333333%, 23% 84.916666666667%, 24% 85.75%, 25% 86.416666666667%, 26% 87%, 27% 87.333333333333%, 28% 87.5%, 29% 87.416666666667%, 30% 87.166666666667%, 31% 86.75%, 32% 86.166666666667%, 33% 85.416666666667%, 34% 84.583333333333%, 35% 83.666666666667%, 36% 82.75%, 37% 81.833333333333%, 38% 81%, 39% 80.333333333333%, 40% 79.75%, 41% 79.333333333333%, 42% 79.166666666667%, 43% 79.166666666667%, 44% 79.416666666667%, 45% 79.833333333333%, 46% 80.416666666667%, 47% 81.166666666667%, 48% 82%, 49% 82.916666666667%, 50% 83.833333333333%, 51% 84.75%, 52% 85.583333333333%, 53% 86.25%, 54% 86.833333333333%, 55% 87.25%, 56% 87.5%, 57% 87.5%, 58% 87.25%, 59% 86.916666666667%, 60% 86.333333333333%, 61% 85.583333333333%, 62% 84.833333333333%, 63% 83.916666666667%, 64% 83%, 65% 82.083333333333%, 66% 81.25%, 67% 80.5%, 68% 79.916666666667%, 69% 79.416666666667%, 70% 79.25%, 71% 79.166666666667%, 72% 79.333333333333%, 73% 79.666666666667%, 74% 80.25%, 75% 80.916666666667%, 76% 81.75%, 77% 82.666666666667%, 78% 83.583333333333%, 79% 84.5%, 80% 85.333333333333%, 81% 86.083333333333%, 82% 86.666666666667%, 83% 87.166666666667%, 84% 87.416666666667%, 85% 87.5%, 86% 87.333333333333%, 87% 87%, 88% 86.5%, 89% 85.833333333333%, 90% 85%, 91% 84.166666666667%, 92% 83.25%, 93% 82.333333333333%, 94% 81.416666666667%, 95% 80.666666666667%, 96% 80%, 97% 79.583333333333%, 98% 79.25%, 99% 79.166666666667%, 100% 79.25%);
		height: 55rem;
		display: grid;
		& img {
		display: block;
		margin: 0 auto;
		margin-top: -10rem;
		width: 100vw;
		height: 50rem;
	}
}
}

.header-image.polygon {

	@media (--content-query) {
		clip-path: polygon(84% 100%, 169% 0, -435% 0);
		height: 40rem;
		display: grid;
		& img {
		display: block;
		margin: 0 auto;
		margin-top: -10rem;
		width: 100vw;
		height: 50rem;
	}
}
}
.header-image {

	@media (--content-query) {

& amp-img.amp-wp-enforced-sizes[layout=intrinsic]>img {
	object-fit: cover;
	height: 40rem;
}
	}
	& .heroImg {
		grid-area: hero;
		z-index: 1;
		/* height: 40rem; */
	}
	& .heroVideo {
		grid-area: hero;
		z-index: 2;
		opacity: .3;
	}
	display: grid;
	grid-area: hero;
}
.header-image.no_clip {
	@media (--content-query) {
		clip-path: none;
	}
}

.header-image.heroImage10,
.header-image.no_clip.heroImage10 {
	@media (--content-query) {
		height: 35rem;
	}
}

.titleTagWrapper {
	position: relative;
	text-align: left;
	width: 100vw;
	margin-top: -4rem;
	z-index: 3;
	@media (--content-query) {
		margin-top: -2rem;

	}
	@media (--sidebar-query) {
		margin-top: 8rem;
	}
	@media (--ipad-landscape-plus-menu-query-max) {
		margin-top: 2rem;
	}
	@media (--narrow-portrait-menu-query) {
		margin-top: -4rem;
	}
	& .site-branding .site-title {
		top: 3rem;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5rem;
		font-weight: 700;
	}
	& .tagline {
		color: #fff;
		width: 100vw;
		margin-left: auto;
		margin-right: auto;
		font-weight: 700;
		font-size: 1.5rem;
		text-shadow: 2px 2px #333;
		text-align: center;
		@media (--content-query) {
			width: 50%;
		margin-left: 25%;
		font-size: 1.5rem
		}
		@media (--sidebar-query) {
			font-size: 2rem;
			text-align: center;
		}
	}
}
.site-branding {
	padding-top: 2rem;
	padding-bottom: 0;
	grid-area: hero;
	& .site-title {
		font-size: 2.4rem;
		width: 100vw;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-shadow: 1px 1px #000;
		@media (--content-query) {
		font-size: 2rem;
		width: 50%;
		margin-left: 25%;
		margin-right: auto;
		}
		@media (--sidebar-query) {
			font-size: 4rem;
		}
	}
}

.titleTagWrapper.heroTextgrid {
	@media (--content-query) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "left center right";
& .site-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
& .tagline {
    width: 100%;
    margin-left: auto;
}
	& .leftHero,
	& .leftgridHero {
		grid-area: left;
	}
	& .centerHero,
	& .centergridHero {
		grid-area: center;
	}
	& .rightHero,
	& .rightgridHero {
		grid-area: right;
	}
	}

}
