.secondary-menu-container {
	display: none;
}
.navSecondaryInc {
	& #secondary-top-bar {
		display: none;
	}
	@media (--content-query) {
		& #secondary-top-bar {
			top: 0;
			height: 2rem;
			background: pink;
			width: 100vw;
			display: grid;
			position: fixed;
			z-index: 14;
		}
		& #mobileTopBar {
			top: 2rem;
			height: 3.55rem;
		}
		& .custom-logo {
			height: 3rem;
			top: 2.3rem;
			bottom: auto;
			position: fixed;
			left: 1.3em;
			z-index: 15;
			background: transparent;
			border-radius: 0;
			max-width: 12rem;
		}
	}
}
@media (--content-query) {
	nav#site-navigation.navSecondaryInc {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"secondary"
			"primary";
	}

	.secondary-menu-container {
		grid-area: secondary;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: auto 9rem;
		width: 82vw;
		top: -1rem;
		position: absolute;
		& ul#leftRow {
			display: grid;
			grid-template-columns: 1fr 3fr;
			font-size: 0.4rem;
			place-items: center;
			& li {
				font-size: 0.8rem;
				padding-top: 0;
			}
		}

		& ul#rightRow {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
			justify-content: space-around;
			align-items: baseline;
			grid-gap: 1.2rem;
			margin: auto 1rem;
			text-align: center;
			direction: rtl;
			place-items: center;
			& li {
				font-size: 0.8rem;
				padding-top: 0.1rem;
				margin: 0;
				& img {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}

.primary-menu-container {
	grid-area: primary;
	right: 3rem;
}
