.page {
	& main#primary {
    margin-top: 4rem;
	position: relative;
		@media (--content-query) {
	margin-top: -7rem;
	}

}
}
.home.page {
	& main#primary {
		margin-top: 0;
		position: relative;
				@media (--content-query) {
		margin-top: -7rem;
		}
	}
}
