.page {
	& main#primary {
		/* margin-top: 4rem;  */
		margin-top: 0;
		top: 12rem;
		position: relative;
		@media (--content-query) {
			margin-top: -7rem;
			top: 0;
		}
	}
}
.home.page {
	& main#primary {
		/* margin-top: 0; */
		margin-top: 0;
		top: 12rem;
		position: relative;
		@media (--content-query) {
			margin-top: -7rem;
			top: 0;
		}
	}
}
