

   .blog,
   .single {
	& main {
		display: grid;
	grid-template-columns: 1fr;
	margin: 4rem auto auto;
	@media (--narrow-portrait-menu-query) {
		margin: 1rem auto auto;
	}
	& aside {
		  grid-row: 100;
	}
	& header {
		grid-row: 1;
		grid-column: 1/2;
    grid-row: auto;
	}
	& article {
		grid-row: 1;
		grid-column: 1/2;
    grid-row: auto;
	}
		@media (--content-query) {
			display: grid;
		grid-template-columns: 3fr 1fr;
		margin: auto 3rem;
		& aside {
			grid-column: 2 / 3;
  			grid-row: 1 / 20;
		}
		& header {
			grid-column: 1 / 2;
			grid-row: auto;
		}
		& article {
			grid-column: 1 / 2;
			grid-row: auto;
		}
	}
	}
	.site-footer {
		position: absolute;
	}
}

.single main {
	margin-top: 0;
	& header,
	& article {
		width: 100vw;
	}
}
