.blog,
.single {
	& main {
		display: grid;
		grid-template-columns: 1fr;
		margin: 4rem auto auto;
		@media (--narrow-portrait-menu-query) {
			margin: 1rem auto auto;
		}
		& aside {
			grid-row: 100;
		}
		& header {
			grid-row: 1;
			grid-column: 1/2;
			grid-row: auto;
		}
		& article {
			grid-row: 1;
			grid-column: 1/2;
			grid-row: auto;
		}
		@media (--content-query) {
			display: grid;
			grid-template-columns: 3fr 1fr;
			margin: auto 3rem;
			& aside {
				grid-column: 2 / 3;
				grid-row: 1 / 20;
			}
			& header {
				grid-column: 1 / 2;
				grid-row: auto;
			}
			& article {
				grid-column: 1 / 2;
				grid-row: auto;
			}
		}
	}
	& .site-footer {
		position: absolute;
	}
}
.blog {
	& main#primary {
		margin-top: 0rem;
		top: 12rem;
	}
}

.single main#primary {
	/* margin-top: -5rem; */
	margin-top: 0;
	top: 12rem;
	@media (--content-query) {
		top: 0;
	}

	@media (--narrow-menu-query) {
		& header,
		& article {
			width: 100vw;
			margin-top: 2rem;
		}
		/* @media (--narrow-menu-query) {
		& .entry-header {
			padding-left: 0;
			padding-right: 0;
			margin: 0 2.5rem auto auto;
			& h1.entry-title {
				margin: 1em 2.5rem 1em auto;
			}
		}
		& .entry-content {
			margin: 1.5em 2rem 0 auto;
		}
		& .entry-content>* {
			padding-left: 0;
			padding-right: 0;
			margin: 0 2.5rem auto auto;
		}
	} */
		& .primary-sidebar {
			max-width: 100vw;
		}
		& .entry-content > * {
			overflow-wrap: break-word;
		}
	}
}
