.wp-block-latest-posts.is-grid {
	margin: 0;
	border: none;
}
.wp-block-latest-posts p {
    text-align: center;
}

.site main .wp-block-columns:first-child {
	margin-top: 3rem;
	@media (--content-query) {
 margin-top: 0;
	}
}

.wp-block-cover.alignfull {
	height: auto;
}
.wp-block-cover.alignwide {
	height: auto;
	@media (--content-query) {
	height: auto;
	}
}

.block-editor-page {
	&.block-editor-writing-flow {
	& .acf-block-preview {
	border: .5px solid rgba(0,0,0,.04);
	}
}

& .block-editor-block-inspector {
	& .acf-field.acf-field-range {
		position: relative;
		left: 2rem;
	}
}
	}

