.wp-block-latest-posts.is-grid {
	margin: 0;
	border: none;
}
.wp-block-latest-posts p {
    text-align: center;
}

.site main .wp-block-columns:first-child {
	margin-top: 3rem;
	@media (--content-query) {
 margin-top: 0;
	}
}

.wp-block-cover.alignfull {
	height: auto;
}
